<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./index.js" type="module"></script>
</head>
<body class="container">
sup g
<div id="topnav" class="topnav">
    <a href="/" data-navigo>Home</a><
    <a href="/kandidater" data-navigo>Kandidater</a>
    <!-- Add additional links here -->
    <hr/>
    <div id="content">

        <h1>KOMMUNALVALG HJEMMESIDE</h1>
        <button id="btn-add">Tilføj Kandidat</button>
    </div>
</div>

</body>
<script>
    document.getElementById("btn-add").onclick = () => {
        console.log("Tjek tjek")
    }
</script>
</html>